<div id="logging">
    <div class="login-widget">
        <div class="logo">
            <img src="/assets/images/kryptos.jpg">
        </div>
        <div class="infoText">
            <h1>Reset Password</h1>
        </div>
        <div class="section">
            {if $data.message}
                <div class="errorMessage">
                    <span>{$data.message}</span>
                </div>
            {/if}
            <div class="loginBox">
                <form method="post" action="">
                    <div class="form-group login">
                        <i class="fa fa-envelope-o overlay"></i>
                        <input type="password" name="password" id="password" placeholder="Please Enter New Password" value="">
                    </div>
                    <div class="form-group login">
                        <i class="fa fa-envelope-o overlay"></i>
                        <input type="password" name="re_password" id="re_password" placeholder="Please Enter Re-Password" value="">
                    </div>

                    <div class="form-group submit">
                        <input type="submit" name="submit" class="btn btn-submit" value="Zaloguj">
                    </div>
                </form>
                <br>
                <div class="form-group">
                    <span class=""><a href="/"><i class="fa fa-info-circle"></i> Back to Login</span></a>
                </div>

            </div>
        </div>
    </div>
</div>