<h1>{$dialogTitle}</h1>

<div class="row view-render">
    <div class="col-sm-12">

            <div class="form-group row main-label-row">
                <label class="col-sm-4">Wjazd</label>
                <div class="col-sm-8">
                    <label>Wartość</label>
                </div>
            </div>

            <div class="form-group row ">
                <label for="element_9_Y5Mzk2OC4yNjYzOTEzMA" class="col-sm-4">Autor</label>
                <div class="col-sm-8">
                    <p>{$autor}</p>
                </div>
            </div>

            {* Assigning the colors of the rows *} 

            {assign var='grey' value='grey'}   {* Even *} 
            {assign var='white' value='white'}   {* Odd *} 

            {* Assigning the colors! *} 
            

            {foreach $data.registry.entities as $registryEntity}
                {if $i++ is odd by 1} 
                   {assign var='class' value=$grey} 
                {else} 
                   {assign var='class' value=$white} 
                {/if} 
                <div class="{$class}">
                    {Application_Service_Entities::renderText($registryEntity, $data) nofilter}
                </div>
            {/foreach}  
    </div>
</div>

