{include file='modals/multiform_modal.tpl'}

<div class="row" id="SingleForm" style="display: none;">
    <div class="col-lg-6">
        <form name="f_data" id="f_data" method="POST" action="/registry-entries/save" enctype="multipart/form-data">
            <fieldset>
                <input type="hidden" name="addAnother" id="addAnother" value="0"/>
                {if $data.id}<input type="hidden" name="id" value="{$data.id}"/>{/if}
                <input type="hidden" name="registry_id" value="{$data.registry.id}"/>
                
                {foreach $data.registry.entities as $registryEntity}
                    {Application_Service_Entities::render($registryEntity, $data) nofilter}
                {/foreach}
               

                {if $data.id && !empty($data.registry.documents_templates)}
                    {element tag="bs.checkbox-line" attributes=[
                        'type' => 'checkbox',
                        'labelClass' => 'col-sm-8 col-sm-offset-4',
                        'name' => 'update_documents',
                        'label' => 'Zaktualizuj dokumenty'
                    ]}
                {/if}

                <div>
                    <a href="/registry-entries/index/registry_id/{$data.registry_id}" class="btn btn-default">Powrót</a>
                    <input type="button" value="Zapisz" class="btn btn-info" onclick="$('#formSubmit').click();">
                    <input type="button" value="Zapisz i dodaj następny " class="btn btn-info" onclick="$('#addAnother').val('1');$('#formSubmit').click()">
                </div>
            </fieldset>
            <div class="hiddenElement">
                <input type="submit" id="formSubmit" value="Zapisz" class="btn btn-info">
            </div>
        </form>
    </div>
</div>

<!--  Multistep form div -->
<div class="row" id="MultiForm" style="display: none;">
{include file='_entities/template.tab.html'}
</div>
<!-- End : Multistep form div -->




<script type="text/javascript">
    backendUtilities.addVatidationEngine("f_data");
</script>

<script> 
var highest = {$maxstep};
if(highest==0){
    $("#SingleForm").css('display','block');
}else{
    $("#MultiForm").css('display','block');
    $("#MultiForm").attr("stepnum",highest);
}
$( document ).ready(function(){
    $('.easyWizardSteps li:last-child').remove();
    $(".easyWizardWrapper section:last-child").remove();
});


  $("body").on("click", ".next", function() {
     
      if($(".easyWizardSteps li:nth-last-child(1)").hasClass("current")){
       $(".next").css("display","none");
       $(".submit").css("display","block");

      }

    });
function runregistrySel() {
        var fields = [];                
            $('.fields').each(function() {            
            fields.push($(this).text());
            });
        $('.check-all-regitry').on('click', function (e) {
            $('.registryCheckbox').each(function () {
                if(!$(this).hasClass('checked')){
                $(this).addClass('checked');
                dial.lastDialProcessFn(this.id.replace('id', ''), {
                                id: this.id.replace('id', ''),
                            registry_id: $('#zbiory_registry').val(),
                            registry_title: $("#zbiory_registry option:selected").text(),
                            registry_fields: fields
                                //displayName: this.getAttribute('data-display-name')                   
                            }, $(this).hasClass('checked'));
                }
                                        
            });
            
        });
        $('.uncheck-all-regitry').on('click', function (e) {
            $('.registryCheckbox').each(function () {
                $(this).removeClass('checked');
                dial.lastDialProcessFn(this.id.replace('id', ''), {
                                id: this.id.replace('id', ''),
                            registry_id: $('#zbiory_registry').val(),
                            registry_title: $("#zbiory_registry option:selected").text(),
                            registry_fields: fields
                                //displayName: this.getAttribute('data-display-name')                   
                            }, $(this).hasClass('checked'));
                                                                    
            });
        });
                        
        }

</script>
